@import url('https://fonts.googleapis.com/css?family=Cookie');

h1{
  /*text-align: center;*/
  float: left;
  font-weight: 100;
  margin: 10px;
  font-size: 40px;
  font-family: 'Cookie', cursive;
}
