.playlistcontainer {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid #a3c4ee;
  margin-top: 10px;
  display: inline-block;
  overflow-y: scroll;
  justify-content: flex-end;
}

.songitem{
  margin: 10px;
}

.songlist{
  margin: auto;
  padding: 0px;
}

.addFilesButton {
  margin: 5px;
  color: #0C1829;
  width: 30px;
  height: 30px;
}
