.container{
  width: 300px;
  margin: 20px;
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

.container button {
  margin: 5px;
  color: #0C1829;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

.container button:focus {
  outline: none;
}

.container button:hover {
  cursor: pointer;
}

.playButton{
}

.mute {
}
