.container{
  width: 300px;
  padding: 10px;
  border: 2px solid #a3c4ee;
  margin: 30px;
  display: inline-block;
  text-align: center;
}

.container button {
  margin: 5px;
  color: #0C1829;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

.container button:focus {
  outline: none;
}

.playButton{
}

.mute {
}
